body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.year-range {
  max-width: 800px;
}

.load-hide {
  display: none;
}

.year-range-info {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 16px 0;
}

.year-range-info .min-value,
.year-range-info .max-value {
  flex: 1;
}

.year-range-info .max-value {
  text-align: right;
}

#tooltip-wrapper {
  position: fixed;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 4px;
  white-space: pre-line;
  opacity: 0;
}
