body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

#tooltip-wrapper {
  position: fixed;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 4px;
  white-space: pre-line;
  opacity: 0;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.key-area {
  padding: 116px 0 0 110px;
}

.key-item {
  display: flex;
  margin-bottom: 10px;
}

.key-item--color {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
